@use '../../../static/scss/flex.scss' as flex;
.article {
  @extend %box;
  img {
    width: 100%;
  }
  .reply_user {
    @extend %flexC;
    justify-content: space-between;
  }
  .ant-card {
    margin-top: 10px;
    .ant-card-head {
      min-height: 0;
      font-size: 14px;
      background-color: flex.$garybacground;
      font-weight: bold;
    }
  }
}
