@use '../../../static/scss/flex.scss' as flex;
.list {
  height: 100%;
  padding-left: 5px !important;
  font-size: 14px !important;
  @extend %flexY;
  .ant-spin-nested-loading {
    flex: 1;
    overflow: auto;
    .ant-list-item-meta-description {
      .name {
        color: flex.$success;
        margin-right: 10px;
      }
    }
  }
  .ant-list-pagination {
    margin: 0 10px 10px 0;
  }
}
