@use '../../static/scss/flex.scss' as flex;
$border-color: #e8e8e8;
.home {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  .left {
    width: 200px;
    border: 1px solid $border-color;
    @extend %flexY;
    span {
      height: 40px;
      @extend %flexC;
      font-size: 13px;
      color: flex.$dark;
      cursor: pointer;
      &.active {
        color: flex.$success;
        background-color: #f9fce3;
      }
      &:hover {
        color: flex.$success;
      }
    }
  }
  .right {
    flex: 1;
    border: 1px solid $border-color;
    border-left: unset;
    // overflow: auto;
  }
}
